#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover:not(.active) {
    background-color: #111;
}

#navigation .active {
    background-color: #04AA6D;
}

#languageSwitcher ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#languageSwitcher li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.grid-wrap {
    display: grid;
    grid-template-columns: auto auto;
}

.footer {
    font-size: small;
    float: right;
    padding: 20px;
}